<h3 class="register-link"><%= link_to 'Register Game', new_game_path, class: "register" %></h3>
<div class="side-years">
<h2>Years</h2>
<% @games.order(year: "DESC").pluck(:year).uniq.each do |year| %>
 <h3>
 <%= link_to year, year_games_path(year: year), controller: "games", action: "year", class: "side-year" %>
 </h3>
<%end %>
</div>