<div class="side-bar">
<%= render partial: 'sidebar' %>
</div>
<div class="side-years">
<h3>Years</h3>
<% @games.order(year: "DESC").pluck(:year).uniq.each do |year| %>
 <%= link_to year, year_games_path(year: year), controller: "games", action: "year", class: "side-year" %>
<%end%>
</div>
<div class="main-content">
<h2 class="index-message">Year Select</h2>
<div class="years">
<% @games.order(year: "DESC").pluck(:year).uniq.each do |year| %>
 <h3>
 <%= link_to year, year_games_path(year: year), controller: "games", action: "year", class: "year" %>
 </h3>
<%end %>
</div>
</div>
 






 
