<div class="side-bar">
<%= render partial: 'sidebar' %>
</div>

<div class="main-content">
<% if flash[:notice] %>
<div class="notice">
  <h2>-Notice-</h2>
  <h2><%= flash[:notice] %></h2>
</div>
<% end %>
<h2 class="index-message">Year Select</h2>
<div class="years">
<h3 class="year"><%= years(@games) %></h3>
</div>
</div>
 






 
