// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  word-break: keep-all;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 15vh;
  margin: 0 auto;
}

.title {
  padding: 0px;
}

.link-text {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  height: 75vh;
}

.main-content {
  background-color: lightgray;
  width: calc(100vw - 200px);
}

.side-bar {
  width: 200px;
  background-color: black;
}

.side-years h3 {
  color: white;
  text-align: center;
}

.side-year {
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 10px 0 10px 0;
}

.register-link {
  float: right;
  padding: 2vw;
  padding: 0;
}

.index-message {
  width: 80%;
  text-align:center;
  margin: 0 auto;
}

.years{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.years h3 {
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 20px 20px;
  text-align: center;
}

.year{
  color: white;
  text-decoration: none;
  line-height: 100px
}

.register {
  color: navy;
}

.register-form {
  margin: 0 auto;
}

.register-form h2 {
  margin: 0 auto;
  padding: 0 0 2vw 0;
}

.form {
  width: 50vw;
  margin: 0 auto;
  padding: 3vw 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  margin: 1vw 2vw 1vw;
  height: 5vh;
  border: 1px solid black;
  width: 50vw;
  border-radius: 3px;
}
.select {
  display: block;
  width: 50vw;
}

.submit-button {
  width: 50vw;
  height: 10vh;
  margin: 10px auto 0;
  background-color: navy;
  font-size: 24px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.success {
  text-align: center;
}

footer {
 height: 10vh;
 clear: both;
 background-color: gray;
 display: flex;
 align-items: center;
 justify-content: center;
}

.back-to-home {
  display: block;
  text-align: center;
  margin: 0 auto; 
  color: white;
}

.game-info {
  border: 5px solid black;
  border-radius: 5px;
  width: 25%;
  height: fit-content;
  margin: 2% 2% 2% 2%;
  padding: 0 10px;
}
.show {
  font-size: 28px;
  text-align: center;
  display: block;
  padding: 10px;
  color: navy;
}

.game-title {
  margin-left: 15vw;
}

.histories {
  margin-left: 15vw;
}

.history-data {
  text-decoration: none;
  color: black;
}

.history-list {
  list-style: none;
}

.history-text {
  width: 50vw;
  height: 20vh;
}

.hidden {
  display: none;
}

.date{
  display:flex;
  width: 10vw;
  justify-content: space-around;
  margin: 2vh;
}

.date-select {
  font-size: 12px;
}

.history {
  margin-left: 10vw;
}

.image-input {
  margin: 2vh;
  width: 30vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  background-color: violet;
  font-size: 24px;
  font-weight: bold;
}


@media( max-width: 960px ) {
  .description {
    display: none;
  }

  .register-link {
    padding-top: 1vh;
  }


}

@media( max-width: 415px ) {
  header {
    display: block;
  }

  .title {
    text-align: center;
  }

  .register-link {
    float: none;
    text-align: center;
  }
  
  .side-bar {
    display: none;
  }

  .main-content {
    width: 100vw;
  }

  
}



