// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  word-break: keep-all;
}

header {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  margin: 0 auto;
  border: 1px solid #384047;
  background-color: white;
}

.title {
  padding-right: 20vw;
}

.link-text {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  height: 80vh;
}

.main-content {
  background-color: #4885C2;
  width: calc(100vw - 200px);
  border: 1px solid #384047;
  overflow: scroll;
}

.side-bar {
  width: 200px;
  background-color: #0B74DB;
  border: 1px solid #384047;
  overflow: scroll;
}

.side-years h3 {
  color: white;
  text-align: center;
}

.side-year {
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 10px 0 10px 0;
}

.register-link {
  float: right;
  padding: 0;
  padding-top: 1vh;
}

.index-message {
  width: 80%;
  text-align:center;
  margin: 1vh auto 0;
  text-shadow: 
       2px  2px 1px #D13F04,
      -2px  2px 1px #D13F04,
       2px -2px 1px #D13F04,
      -2px -2px 1px #D13F04,
       2px  0px 1px #D13F04,
       0px  2px 1px #D13F04,
      -2px  0px 1px #D13F04,
       0px -2px 1px #D13F04;  
}

.years{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.years h3 {
  border: 2px solid #384047;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 20px 20px;
  text-align: center;
}

.years h3:hover {
  background-color: #38B3FF;
}

.year{
  display: block;
  color: white;
  text-decoration: none;
  line-height: 100px
}

.register {
  color: #2940D6;
}

.register-form {
  margin: 0 auto;
}

.register-form h2 {
  margin: 2vh auto 0;
  padding: 0 0 2vw 0;
  text-shadow: 
       2px  2px 1px #D13F04,
      -2px  2px 1px #D13F04,
       2px -2px 1px #D13F04,
      -2px -2px 1px #D13F04,
       2px  0px 1px #D13F04,
       0px  2px 1px #D13F04,
      -2px  0px 1px #D13F04,
       0px -2px 1px #D13F04; 
}

.form {
  width: 50vw;
  margin: 0 auto;
  padding: 3vw 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  margin: 1vw 2vw 1vw;
  height: 5vh;
  border: 1px solid #505561;
  width: 50vw;
  border-radius: 3px;
  border: 2px solid #384047;
}
.select {
  display: block;
  width: 50vw;
}

.submit-button {
  width: 50vw;
  height: 10vh;
  margin: 10px auto 10px;
  background-color: navy;
  font-size: 24px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  border: 2px solid #384047;
}

.submit-button:hover {
  opacity: 0.7;
}

.success {
  text-align: center;
}

footer {
 height: 10vh;
 clear: both;
 background-color: #192D42;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid #384047;
}

.back-to-home {
  display: block;
  text-align: center;
  margin: 0 auto; 
  color: white;
}

.game-info {
  border: 5px solid black;
  border-radius: 5px;
  width: 25%;
  height: fit-content;
  margin: 2% 2% 2% 2%;
  padding: 0 10px;
  color: white;
  overflow: hidden;
}
.show {
  font-size: 28px;
  text-align: center;
  display: block;
  padding: 10px;
  color: navy;
   text-shadow: 
       2px  2px 1px white,
      -2px  2px 1px white,
       2px -2px 1px white,
      -2px -2px 1px white,
       2px  0px 1px white,
       0px  2px 1px white,
      -2px  0px 1px white,
       0px -2px 1px white; 
}

.delete {
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 10px;
  color: navy;
   text-shadow: 
       2px  2px 1px white,
      -2px  2px 1px white,
       2px -2px 1px white,
      -2px -2px 1px white,
       2px  0px 1px white,
       0px  2px 1px white,
      -2px  0px 1px white,
       0px -2px 1px white; 
}

.show:hover {
  font-size: 30px;
}

.game-title {
  margin-left: 15vw;
  text-shadow: 
       2px  2px 1px white,
      -2px  2px 1px white,
       2px -2px 1px white,
      -2px -2px 1px white,
       2px  0px 1px white,
       0px  2px 1px white,
      -2px  0px 1px white,
       0px -2px 1px white; 
}

.histories {
  margin-left: 15vw;
  text-shadow: 
       2px  2px 1px white,
      -2px  2px 1px white,
       2px -2px 1px white,
      -2px -2px 1px white,
       2px  0px 1px white,
       0px  2px 1px white,
      -2px  0px 1px white,
       0px -2px 1px white; 
}

.history-data {
  text-decoration: none;
  color: black;
}

.history-data:hover {
  font-size: 18px;
}

.history-list {
  list-style: none;
}

.history-text {
  width: 50vw;
  height: 20vh;
  border: 2px solid #384047;
}

.hidden {
  display: none;
}

.date{
  display:flex;
  width: 10vw;
  justify-content: space-around;
  margin: 2vh;
}

.date-select {
  font-size: 12px;
  width: 100%;
  border: 2px solid #384047;
}


.image-input {
  margin: 2vh;
  width: 30vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  background-color: violet;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #384047;
}

.history {
  margin-left: 10vw;
  width: 70%;
}

.history-header {
  display: flex;
  justify-content: space-between;
}

.history-header p {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.hisotry-date {
  text-shadow: 
       2px  2px 1px white,
      -2px  2px 1px white,
       2px -2px 1px white,
      -2px -2px 1px white,
       2px  0px 1px white,
       0px  2px 1px white,
      -2px  0px 1px white,
       0px -2px 1px white; 
}

.history-controll {
  color: white;
  display: inline-block;
  border: 2px solid #384047;
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5%;
}

.history-controll:hover {
  background-color: #38B3FF;
}

.history-content {
  color: white;
}


@media( max-width: 960px ) {
  header {
    height: 16vh;
  }
  
  
  .title {
    margin: 1.5vh 0;
    margin-left: 5vw;
  }
  .register-link {
    // padding-top: 1vh;
    margin: 1.5vh 0;
  }
  
  footer {
    height: 20vh;
  }

  .game-info {
    width: 40vw;
  }

  .register-form h2 {
    font-size: 1.0em;
    text-align:center;
  }

  .form-item {
    height: 10vh;
  }

  .date {
    width: 20vw;
  }

  .game-title {
    margin: 3vh auto 3vh;
    text-align: center;
  }


}

@media( max-width: 415px ) {
  header {
    display: block;
    height: 18vh;
  }

  footer {
    height: 12vh;
  }

  .title  {
    text-align: center;
    padding: 0;
    margin-top: 2vh;
  }

  .register-link {
    float: none;
    text-align: center;
  }
  
  .side-bar {
    display: none;
  }

  .main-content {
    width: 100vw;
  }

  .game-info {
    width: 80vw;
    margin: 2vh auto 0;
  }

  .form {
    width: 80vw;
  }

  .register-form h2 {
    text-align:center;
    font-size: 2vh;
  }

  .form-item {
    margin: 5vw 2vw 5vw;
    width: 70vw;
  }

  .game-title {
    width: 80vw;
    font-size: 5vw;
    text-align:center;
    margin: 2vh auto 0;
  }

  .histories {
    width: 80vw;
    font-size: 5vw;
    text-align:center;
    margin: 2vh auto 0;
  }

  .date {
    width: 50vw;
  }



  
}



